<body>
<h1>Subtraction</h1>
<dl>
  <dt>First number</dt>
  <dd><%= @first %></dd>

  <dt>Second number</dt>
  <dd><%= @second %></dd>

  <dt>Result</dt>
  <dd><%= @result %></dd>
</dl>

<a href="/subtract">Do another subtraction</a>
</body>
url = "https://maps.googleapis.com/maps/api/geocode/json?address=5807+S+Woodlawn+Ave&key=" + ENV.fetch("GMAPS_KEY")